<loading-overlay [isLoading]="isLoading"></loading-overlay>
<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <mat-grid-list cols="2" rowHeight="90px">
      <mat-grid-tile *ngFor="let question of questions" class="form-row"> 
        <app-question [question]="question" [form]="form"></app-question>
      </mat-grid-tile>
    </mat-grid-list>

    <div class="form-row">
      <button mat-raised-button color="primary" style="width:100%" type="submit" [disabled]="!form.valid">Save</button>
    </div>

  </form>
</div>