<div class="example-header" fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex="100%">
    <mat-form-field appearance="outline">
      <mat-label>Filter Leads</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type Here...">
      <mat-icon matPrefix>filter_list</mat-icon>
    </mat-form-field>
  </div>
  <div fxFlex="8%" class="delete-lead">
    <app-button-delete *ngIf="selectedLeads.length > 0" [leadsToDelete]="selectedLeads" (onDelete)="getTableData()"></app-button-delete>
    <button mat-icon-button matTooltip="refresh" (click)="getTableData()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>

<div> 
  <mat-table #table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" aria-label="Elements">

    <ng-container matColumnDef="checkbox">
      <mat-header-cell fxFlex="5%" *matHeaderCellDef> 
        <mat-checkbox [(ngModel)]="checkAll" [checked]="isAllChecked()" (ngModelChange)="doCheckAll(checkAll)"></mat-checkbox>  
      </mat-header-cell>
      <mat-cell fxFlex="5%" *matCellDef="let row;"> 
        <mat-checkbox [(ngModel)]="row.isChecked" [value]="row.id" (ngModelChange)="doSinglePostSelection(row.id, row.isChecked)"></mat-checkbox>      
      </mat-cell>
    </ng-container>    

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell fxFlex="5%" *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell fxFlex="5%" *matCellDef="let row" (click)="openDialog(row)">{{row.id}}</mat-cell>
    </ng-container>

    <!-- Company Name Column -->
    <ng-container matColumnDef="companyName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Company</mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="openDialog(row)">{{row.companyName}}</mat-cell>
    </ng-container>

    <!-- Person Name Column -->
    <ng-container matColumnDef="personName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="openDialog(row)">{{row.personName}}</mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="emailAddress">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email Address</mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="openDialog(row)">{{row.emailAddress}}</mat-cell>
    </ng-container>

    <!-- Tags Column -->
    <ng-container matColumnDef="tags">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tags</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <!-- <app-input-add-tag></app-input-add-tag> -->
        <ng-container *ngIf="row.tags">
          <mat-chip-list #chipList>
              <mat-chip *ngFor="let tag of getRowTags(row.tags)" [selectable]="true" [removable]="true" (removed)="removeTag(row, tag)">
                <span [style.cursor]="'pointer'" (click)="openTagDialog(row)">{{tag}}</span>
                <mat-icon matTooltip="delete" matChipRemove>cancel</mat-icon>
              </mat-chip>
          </mat-chip-list>
          <!-- <span *ngFor="let tag of getRowTags(row.tags)" class="tag tag-{{tag}}">{{tag}}</span> -->
        </ng-container>
      </mat-cell>
    </ng-container>    

    <ng-container matColumnDef="actions">
      <mat-header-cell fxFlex="5%" *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
      <mat-cell fxFlex="5%" *matCellDef="let row">
        <button mat-icon-button matTooltip="Options" (click)="openBottomSheet(row)">
          <mat-icon aria-label="menu">more_horiz</mat-icon>
        </button>
      </mat-cell>
    </ng-container>     

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="15"
    [pageSizeOptions]="[15, 20, 50, 100]">
  </mat-paginator>
</div>

<loading-overlay [isLoading]="isLoading"></loading-overlay>