<div class="example-header" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="25px">
  <div fxFlex="90%">
    <mat-form-field appearance="outline">
      <mat-label>Filter Leads</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type Here...">
      <mat-icon matPrefix>filter_list</mat-icon>
    </mat-form-field>
  </div>
  <div class="tag-filter" fxFlex="10%">
    <mat-form-field>
      <mat-select [(value)]="tagFilter" placeholder="Filter by tag" (selectionChange)="onTagFilterChange($event)"> 
        <mat-option value="">None</mat-option>
        <mat-option *ngFor="let tag of allTags" [value]="tag">{{tag}}</mat-option>
      </mat-select>
    </mat-form-field>    
  </div>
  <div fxFlex="8%" class="delete-lead">
    <app-button-delete *ngIf="selectedLeads.length > 0" [leadsToDelete]="selectedLeads" (onDelete)="getTableData()"></app-button-delete>
    <button mat-icon-button matTooltip="refresh" (click)="getTableData()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>

<div> 
  <ms-scrollbar>
    <mat-table style="height: 635px;" #table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" aria-label="Elements">

      <ng-container matColumnDef="checkbox">
        <mat-header-cell fxFlex="5%" *matHeaderCellDef> 
          <mat-checkbox [(ngModel)]="checkAll" [checked]="isAllChecked()" (ngModelChange)="doCheckAll(checkAll)"></mat-checkbox>  
        </mat-header-cell>
        <mat-cell fxFlex="5%" *matCellDef="let row;"> 
          <mat-checkbox [(ngModel)]="row.isChecked" [value]="row.id" (ngModelChange)="doSinglePostSelection(row.id, row.isChecked)"></mat-checkbox>      
        </mat-cell>
      </ng-container>    

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell fxFlex="5%" *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell fxFlex="5%" *matCellDef="let row" (click)="openDialog(row)">{{row.id}}</mat-cell>
      </ng-container>

      <!-- Company Name Column -->
      <ng-container matColumnDef="companyName">
        <mat-header-cell fxFlex="15%" *matHeaderCellDef mat-sort-header>Company</mat-header-cell>
        <mat-cell fxFlex="15%" *matCellDef="let row" (click)="openDialog(row)">{{row.companyName | slice:0:25}}</mat-cell>
      </ng-container>

      <!-- Person Name Column -->
      <ng-container matColumnDef="personName">
        <mat-header-cell fxFlex="15%" *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell fxFlex="15%" *matCellDef="let row" (click)="openDialog(row)">{{row.personName}}</mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="emailAddress">
        <mat-header-cell fxFlex="20%" *matHeaderCellDef mat-sort-header>Email Address</mat-header-cell>
        <mat-cell fxFlex="20%" *matCellDef="let row" (click)="openDialog(row)">{{row.emailAddress}}</mat-cell>
      </ng-container>

      <!-- Number Column -->
      <!-- <ng-container matColumnDef="contactNumber">
        <mat-header-cell fxFlex="10%" *matHeaderCellDef mat-sort-header>Contact Number</mat-header-cell>
        <mat-cell fxFlex="10%" *matCellDef="let row" (click)="openDialog(row)">{{row.contactNumber}}</mat-cell>
      </ng-container>     -->

      <!-- Tags Column -->
      <ng-container matColumnDef="tags">
        <mat-header-cell fxFlex="45%" *matHeaderCellDef mat-sort-header>Tags</mat-header-cell>
        <mat-cell fxFlex="45%" *matCellDef="let row">
          <ng-container *ngIf="row.tags">
            <mat-chip-list #chipList>
              <mat-chip [ngClass]="'tag tag-'+tag" color="primary" *ngFor="let tag of getRowTags(row.tags)" [selectable]="true" [removable]="true" (removed)="removeTag(row, tag)">
                <span [style.cursor]="'pointer'" (click)="openTagDialog(row)">{{tag}}</span>
                <mat-icon matTooltip="delete" matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </ng-container>
        </mat-cell>
      </ng-container>    
      
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell fxFlex="5%" *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
        <mat-cell fxFlex="5%" *matCellDef="let row">
          <button mat-icon-button matTooltip="Options" (click)="openBottomSheet(row)">
            <mat-icon aria-label="menu">more_horiz</mat-icon>
          </button>
        </mat-cell>
      </ng-container>     

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row [class.selected]="row.isChecked" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ms-scrollbar>
  
  <mat-paginator #paginator style="margin-right: 30px;"
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[15, 25, 50]">
  </mat-paginator>
  
</div>

<loading-overlay [isLoading]="isLoading"></loading-overlay>