.mat-column-id {
  flex: 0 0 50px;
}

.mat-row:hover {
  background: rgba(239, 239, 239, 0.1803921568627451);
  cursor: pointer;
}

span.tag {
  border: 1px solid;
  margin-right: 5px;
  padding: 2px 4px;
  color: #39739d;
  background-color: #E1ECF4;
  border-color: transparent; 
  font-size: 12px;
  border-radius: 3px;
  font-weight: 500; 
}

span.tag:hover {
  opacity: 0.7;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.tag.tag-is.client {
  background: #4CAF50;
  color: #ffffff;
}

.tag.tag-have.contacted {
  background: #4CAF50;
  color: white;
}

.tag.tag-pending {
  background: #F44336;
  color: white;
}

.tag.tag-needs.info {
  background: #FF9800;
  color: white;
}

.tag.tag-dev {
  background: #03A9F4;
  color: white;
}

.tag.tag-seo {
  background: #9C27B0;
  color: white;
}

.tag.tag-ppc {
  background: teal;
  color: white;
}


.tag.tag-social {
  background: #ff0057;
  color: white;
}

.delete-lead {
  position: absolute;
  top: 24px;
  right: 67px;
}

mat-chip {
  padding-bottom: 4px!important;
  padding-top: 4px!important;
}

.mat-row.selected {
  background: rgba(239, 239, 239, 0.1803921568627451);
}

/* .mat-row, .mat-header-row {
  min-width: 1100px;
} */

@media only screen and (min-width:500px) and (max-width:1300px) {
  .mat-cell, .mat-footer-cell {
    font-size: 13px;
  }  
}