<div class="grid-container">
  <button [disabled]="!leadService.checkNetworkStatus" mat-fab class="add-lead" matTooltip="Add New Lead" (click)="openDialog()" color="primary">
    <mat-icon aria-label="add">add</mat-icon>
  </button>

  <!-- flex container -->
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch">
      <!-- cards container -->
      <div fxLayout.xl="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayout.lg="column" fxLayoutAlign="start stretch" fxLayoutGap="20px" fxFlex="100%">
        <!-- left column -->
        <div fxLayout.xs="column" fxLayout.xl="column" fxLayout.md="row" fxLayout.sm="column" fxLayout.lg="row" fxLayoutAlign="start stretch" fxLayoutGap="20px" fxFlex.xl="25%">

          <!-- conversion card -->
          <mat-card fxFlex="100%">
            <mat-card-header>
              <mat-card-title></mat-card-title>        
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <app-lead-stats 
                [shouldRefresh]="maybeUpdate" 
                fxLayout="row" 
                fxLayoutAlign="center center" 
                fxFill>
              </app-lead-stats>
            </mat-card-content>
          </mat-card>

          <!-- stats card -->
          <mat-card fxFlex="100%">
            <mat-card-header>
              <mat-card-title>Lead Breakdown</mat-card-title>        
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                <app-lead-counts [shouldRefresh]="maybeUpdate"></app-lead-counts>
            </mat-card-content>
          </mat-card>

        </div>
        <!-- / left column -->

        <!-- right column -->
        <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="start stretch" fxFlex.xl="75%">

          <!-- datatable card -->
          <mat-card fxFlex="100%" [class.fullscreen]="isFullScreen">
            <mat-card-header>
              <mat-card-title> All Leads</mat-card-title>
              <span fxFlex></span>
              <button mat-icon-button (click)="toggleFullScreen()">
                <mat-icon matTooltip="fullscreen" *ngIf="!isFullScreen">fullscreen</mat-icon>
                <mat-icon matTooltip="exit fullscreen" *ngIf="isFullScreen">fullscreen_exit</mat-icon>
              </button>                    
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <datatable 
                (onRefresh)="doUpdate()" 
                [shouldRefresh]="doRefresh" 
                [tableHeight]="tableHeight">
              </datatable>
            </mat-card-content>
          </mat-card>          
        </div>
        <!-- / right column -->
      </div> 
      <!-- / cards container -->   
  </div>
  <!-- / flex container -->


</div>