<h1 style="display:flex" mat-dialog-title>
  <span>Delete Leads</span>
  <span fxFlex></span>  
  <button mat-icon-button mat-dialog-close>
    <mat-icon style="vertical-align:inherit;" matListIcon aria-label="cancel">close</mat-icon>
  </button>
</h1>

<div mat-dialog-content body-2>
  <app-lead-callout 
    message="Do you really want to delete {{ item.item.length}} lead(s)?"
    icon="warning"
    class="warn">
  </app-lead-callout>
  <p class="callout-note">Lead(s) will be permanently removed, and cannot be recovered.</p>
</div>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" color="warn">Delete</button>
</mat-dialog-actions>