<loading-overlay [isLoading]="isLoading"></loading-overlay>
<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <mat-grid-list cols="2" rowHeight="90px">
      <mat-grid-tile *ngFor="let question of questions" class="form-row"> 
        <app-question [question]="question" [form]="form"></app-question>
      </mat-grid-tile>
    </mat-grid-list>

    <div class="form-row">
      <button mat-fab color="primary" matTooltip="save" type="submit" [disabled]="!form.valid">
          <mat-icon aria-label="save">save</mat-icon>
      </button>
    </div>

  </form>
</div>