<mat-nav-list>
  <a href="javascript:void(0)" mat-list-item (click)="openDialog()">
    <mat-icon matListIcon>label</mat-icon>
    <span mat-line>Add a tag</span>
    <span mat-line>Add some tags to this lead</span>
  </a>

  <a href="mailto:{{data.data.emailAddress}}" mat-list-item>
    <mat-icon matListIcon>send</mat-icon>
    <span mat-line>Send email</span>
    <span mat-line>Send this lead an email</span>
  </a>

  <a href="javascript:void(0)" mat-list-item (click)="openEditDialog()">
    <mat-icon matListIcon>edit</mat-icon>
    <span mat-line>Edit Lead</span>
    <span mat-line>Make changes to this lead</span>
  </a>

  <a href="javascript:void(0)" mat-list-item (click)="openDialog()">
    <mat-icon matListIcon>delete</mat-icon>
    <span mat-line>Delete lead</span>
    <span mat-line>Permanantly remove this lead</span>
  </a>
</mat-nav-list>
