<div class="example-container" [class.light-blue-theme]="!isDarkTheme" [class.dark-theme]="isDarkTheme">
  <mat-toolbar class="main-toolbar" color="primary">
    
    <span>Leads Dashboard</span>
    <span fxFlex></span>
    
    <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu" *ngIf="isLoggedIn">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [disabled]="!leadService.checkNetworkStatus" (click)="openDialog()">
        <mat-icon>add</mat-icon>
        <span>New Lead</span>
      </button>      
      <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign Out</span>
      </button>
      <button mat-menu-item>
        <mat-slide-toggle
          [checked]="isDarkTheme"
          color="primary"
          (change)="changeTheme()">
          Dark Theme
        </mat-slide-toggle>
      </button>      
    </mat-menu>    

  </mat-toolbar>

  <app-login *ngIf="!isLoggedIn" (onLogin)="checkLogin()" fxLayout="row" fxLayoutAlign="center center" fxFill></app-login>
  <dashboard *ngIf="isLoggedIn"></dashboard>

  <div *ngIf="!leadService.checkNetworkStatus" [@fadeInOut] class="offline-notification">
    <mat-icon>offline_bolt</mat-icon> Offline, some functionality has been disabled.
  </div>
</div>

