.main-toolbar {
  padding-left: 35px;
  padding-right: 35px;
}

.example-container.dark-theme {
  background: #303030!important;
}

.example-container {
  background: #efefef;
  height: 100%;
  padding-bottom: 16px;
}

span.footer-text {
  font-size: 14px;
}

span.footer-text mat-icon {
  width: 20px;
  height: 24px;
  font-size: 16px;
  vertical-align: bottom;
}

.offline-notification {
  position: absolute;
  bottom: 0px;
  background: #F44336;
  width: 100%;
  color: #ffffff;
  padding: 10px 0px;
  text-align: center;
}

.offline-notification mat-icon {
  font-size: 20px;
  vertical-align: middle;
}