<div class="example-container" [class.light-blue-theme]="!isDarkTheme" [class.dark-theme]="isDarkTheme">
  <mat-toolbar class="main-toolbar">
    <span>Leads Dashboard</span>
    <span fxFlex></span>

    <button matTooltip="New Lead" 
      (click)="openDialog()"
      mat-icon-button>
        <mat-icon>add</mat-icon>
    </button>

    <button *ngIf="isDarkTheme" 
      matTooltip="Light theme"  
      mat-icon-button 
      (click)="changeTheme()">
        <mat-icon>brightness_5</mat-icon>
    </button>

    <button *ngIf="!isDarkTheme" 
      matTooltip="Dark theme" 
      mat-icon-button 
      (click)="changeTheme()">
        <mat-icon>brightness_3</mat-icon>
    </button>

  </mat-toolbar>  
  <dashboard></dashboard>
</div>

