<div class="grid-container">
  <button mat-fab class="add-lead" matTooltip="Add New Lead" (click)="openDialog()" color="primary">
    <mat-icon aria-label="add">add</mat-icon>
  </button>
  <mat-grid-list cols="3" rowHeight="435px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" [class.fullscreen]="isFullScreen && card.component === 'datatable'">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
          <span fxFlex></span>
          <button *ngIf="card.component == 'datatable'" mat-icon-button (click)="toggleFullScreen()">
            <mat-icon matTooltip="fullscreen" *ngIf="!isFullScreen">fullscreen</mat-icon>
            <mat-icon matTooltip="exit fullscreen" *ngIf="isFullScreen">fullscreen_exit</mat-icon>
          </button>         
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- <ms-scrollbar> -->
            <datatable (onRefresh)="doUpdate()" [shouldRefresh]="doRefresh" *ngIf="card.component == 'datatable'"></datatable>
            <app-lead-stats *ngIf="card.component == 'stats'" [shouldRefresh]="maybeUpdate" fxLayout="row" fxLayoutAlign="center center" fxFill></app-lead-stats>
            <app-lead-counts *ngIf="card.component == 'count'" [shouldRefresh]="maybeUpdate"></app-lead-counts>
            <div *ngIf="card.component == ''">Card Content Here</div>    
          <!-- </ms-scrollbar> -->
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>