/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

.my-full-screen-dialog .mat-dialog-container {
  max-width: none;
  width: 100vw;
  height: 100vh;
}

app-question {
  width:95%;
};

.mat-dialog-title {
  display: flex !important;
}